#ignored directories
.idea/
tracked/
vendor/
resources/public/less.js-master/

#ignored files
*.txt
docker-compose.yml
Dockerfile
composer.lock
composer.phar


#ignored extensions
tcpdf/
TCPDF/
tc-lib-pdf/
composer/



#negetiate ignored files
!CHANGELOG.txt