.header {
    width: 100%;
    height: 30px;

    background-color: bisque;

    .h2 {
        color: darkred;
        text-align: center;
    }
}

.wrapper {
    width: 360px;
    margin: auto;

    background-color: cadetblue;

    .work-start p, .time-text {
        color: darkred;
    }
}